@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font: 10px sans-serif;
  font-family: 'Quicksand';
}

p {
  font: 12px helvetica;
}

.chart { 
  background: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #3b3c0f;
  stroke-width: 0.5px;
}

.legend .face{
  opacity: 0.5;
}

.legend .eye {
  opacity: 0.6;
}

.mouth {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.fat-line {
  fill: none;
  stroke: url(#temperature-gradient);
  opacity: 0.7;
}

.widget {
  margin-left: 25px;
  margin-top: 15px;
}

.legend {
  float: left;
}

.toggle {
  margin-left: 15px;
  margin-top: 15px;
}

.form-controls .form-control.tag-list {
  margin-left: 15px;
  margin-top: 15px;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
  z-index: -10;
