body {
  font: 10px sans-serif;
}

/*
html {
  background: url(http://www.wallpaperdirect.com/us/wdimages/043159orig.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

p {
  font: 12px helvetica;
}

.chart { 
  background: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.widget {
  margin-left: 25px;
  margin-top: 15px;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}