body {
  font: 10px sans-serif;
}

p {
  font: 12px helvetica;
}

.chart { 
  background: #fff;
  margin-top: 50px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.widget {
  margin-left: 25px;
  margin-top: 15px;
}