body {
  font: 10px sans-serif;
}

p {
  font: 12px helvetica;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

.chart { 
  background: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
