#tree-controls {
	width: 270px;
	height: 30px;
	margin: 15px auto;
}

#seed-word {
	width: 200px;
	height: 30px;
    float: left;
    margin-right: 10px;
    font-size: 13px;
}

#tree-controls .submit {
	width: 60px;
    float: left;
    height: 30px;
    padding: 0px;
    font-size: 13px;
	font-family: 'Quicksand';
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #88BD98;
	stroke-width: 1.5px;
}

.node text {
	font: 9px sans-serif;
}

.link {
	fill: none;
	stroke: #EAEAEA;
	stroke-width: 1.5px;
}