#tree-controls {
	width: 385px;
	height: 35px;
	margin: 15px auto;
}

#seed-word {
	width: 300px;
    float: left;
    margin-right: 10px;
}

#tree-controls .submit {
	width: 75px;
	float: left;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}