text {
  font: 10px sans-serif;
}

.background {
  fill: none;
  pointer-events: all;
}

#chart {
  width: 960px;
  height: 320px;
  padding: 15px;
  border: solid 1px #ccc;
}

#chart line{
  fill: none;
  stroke: #333;
}

#chart line {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

#chart .axis line {
  stroke: none;
}

#chart4 {
  margin-left: -25px;
  height: 506px;
}

#chart4 .background {
  fill: #ddd;
}

#chart4 .dot {
  stroke: #000;
}

#chart4 line {
  stroke: white;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}