text {
  font: 10px sans-serif;
}

.background {
  fill: none;
  pointer-events: all;
}

#chart {
  padding: 15px;
  border: solid 1px #ccc;
  margin: 40px auto;
}

#chart line{
  fill: none;
  stroke: #E0E0E0;
}

.btn {
  margin: 10px;
}

#chart line {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

#chart .axis line {
  stroke: none;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}